mediafile~=0.14.0
requests~=2.32.5
Pillow~=12.1.1
urllib3~=2.6.3
fdb~=2.0.4
python3-discogs-client~=2.5
audiodb~=1.0.0
certifi~=2026.2.25
mutagen~=1.47.0
six~=1.17.0
python-dateutil~=2.9.0.post0
filetype~=1.2.0
oauthlib~=3.3.1
idna~=3.11
charset-normalizer~=3.4.5
musicbrainzngs~=0.7.1
python-multipart~=0.0.22
more-itertools~=10.8.0
cheroot~=11.1.2
psutil~=7.2.2