[Connection]
;firebird connection string
host: firebird
port: 3050
;firebird database name
database: /var/lib/firebird/data/${FIREBIRD_DATABASE}
;firebird user
user: ${FIREBIRD_USER}
;firebird password
password: ${FIREBIRD_PASSWORD}
;firebird library name (for linux)
fb_library_name: /opt/firebird/lib/libfbclient.so.2
;firebird library name (for windows)
fb_library_name_w32: C:\Program Files\Firebird\Firebird_4_0\fbclient.dll

[server]
url=http://localhost:8000/
admin_user=admin
admin_password=${IC_ADMIN_PASSWORD}
private=False

[Indexer]
logfile=/var/data/music/indexer.log
;root directory of the music library
basedir=/var/data/music/
;directories to scan
dirs: tidal,alben,various

;discogs api key
discogs: ${DISCOGS_API_KEY}
discogsagent=${DISCOGS_USER_AGENT}
;lastfm api key (not used)
LASTFM_API_KEY:
;comma separated list of file extensions to index 1=flac,2=mp3,3=m4a,4=ogg,5=wma,6=wav
formats: flac,mp3,m4a
fullscan: False
cleanup: False
